
<%= form_with(model: poto, local: true) do |form| %>
  <% if poto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poto.errors.count, "error") %> prohibited this poto from being saved:</h2>

      <ul>
      <% poto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <%= form.text_area :contenu %>
  </div>

  <div class="actions">
    <div class="btn btn-info"><%= form.submit %></div>
  </div>
<% end %>
